<div ng-controller='HomeController' class="main">

	<div class="map-grid" ng-class="{container: !fullscreen}">
		<div id="map-container" ng-class="{fullscreen: fullscreen}">
			<input type="text" class="controls hidden" id="address" ng-model="address" placeholder="Search Box">
			<div id="fullscreen-btn">
				<a class="btn" href="#" title="Full screen" style="color: #545154; ">
					<i class="fa fa-plus-square-o" ng-click="fullscreen =  true" ng-hide="fullscreen"></i>
					<i class="fa fa-minus-square-o"  ng-click="fullscreen =  false" ng-show="fullscreen"></i>
				</a>
			</div>
			<div id="map" ng-class="{fullscreen: fullscreen}">
			</div><!-- Map -->
		</div>
	</div>

	<div class="container">
		<div class="info">

			<div class="info-row row">
				<div class="text-center">
					<h1>What is a Bitcoin ATM?</h1>
					<p class="lead">
					    A Bitcoin ATM – or BTM – is a machine that allows users to purchase and/or sell Bitcoin for cash.<br>
					    BTMs come in two forms, one-way or two-way. One-way machines allow you to purchase Bitcoin exclusively. If you wish to sell your Bitcoin, you must find a two-way machine.
					</p>
				</div>
			</div>
			<div id="basicTutorial">
			    <hr>
			    <div class="info-row row">
				    <div class="col-md-6 col-xs-12">
					    <h2>Buying Bitcoin</h2>
					    <p class="lead">Some ATMs may force you to create a wallet, or some may print the Bitcoin out in the form of a paper wallet.</p>
				    </div>
				    <div class="col-md-6 col-xs-12">
					    <h4 class="text-center"><strong>Generally, purchasing Bitcoin happens in a few simple steps:</strong></h4>
					    <ul class="text-left">
						    <li>Enter the amount you would like to purchase.</li>
						    <li>Provide any necessary identity requirements; these requirements vary by Producer, Operator, and amount.</li>
						    <li>Enter your Bitcoin Address or Scan a QR code.</li>
						    <li>Insert your cash into the machine.</li>
					    </ul>
				    </div>
			    </div>
			    <hr>
			    <div class="info-row row">
				    <div class="col-md-6 col-xs-12">
					    <h2>Selling Bitcoin</h2>
					    <p class="lead">If you wish to sell your Bitcoin, you must find a two-way machine.</p>
				    </div>
				    <div class="col-md-6 col-xs-12">

					    <h4 class="text-center"><strong>Selling your Bitcoin has these three general steps:</strong></h4>
					    <ul class="text-left">
						    <li>Depending on the Producer, the Operator, and the amount you’d like to sell, you will enter varying degreees of personal information.</li>
						    <li>Then you will send the amount you would like to sell to the Bitcoin address provided.</li>
						    <li>Some machines will dispense cash instantly, while others may make you wait for 1 or more confirmations.</li>
					    </ul>
				    </div>
			    </div>
			    <hr>
			    <div class="info-row row">
				    <div class="text-center">
					    <h2>Getting your Bitcoin from a Paper Receipt</h2>
					    <p class="lead">
					        We recommend Breadwallet for storing your Bitcoin. Importing your Bitcoin is super easy – simply click the context menu and then
					        ‘Import Private Key’. Allow the app access to your camera and scan the private key from the receipt.
					    </p>
					    <p class="lead">
					        Although Breadwallet ‘sweeps’ the Bitcoin from the paper receipt into a newly generated wallet, it is nonetheless highly
					        recommended to then transfer this Bitcoin to another wallet yourself.
					    </p>
				    </div>
			    </div>
			    <hr>
			    <div class="info-row row">
				    <div class="text-center">
					    <h2>Sending to a Hardware Wallet</h2>
					    <p class="lead">
					        For various reasons, we recommend BitLox Hardware wallet. <br>If you’re familiar with this already,
						    then you know that the QR code for the wallet of your choice is shown on the ink display.
						    Simply scan it instead of your software wallet and you’re good to go!
					    </p>
				    </div>
			    </div>
			    <hr>
			    <div class="info-row row">
				    <div class="col-md-6 col-xs-12">
					    <h2 style="font-size: 28px;">Producer and Operator Services</h2>
					    <p>
						    BTMRadar gives you the opportunity to interact directly with your customers through our interface, which will be
						    growing by the day to include more features than any competitor, offering the quickest, easiest,
						    and most intuitive ways to find and use Bitcoin ATMs around the globe.
					    </p>
				    </div>
				    <div class="col-md-6 col-xs-12">
					    <ul class="text-left">
						    <br>
						    <li><a href="#">Become a Featured Operator</a></li>
						    <li><a href="#">Promote your Machine Directly on the Map</a></li>
						    <li><a href="#">Buy Banner Space</a></li>
						    <li><a href="#">Integrate our Map With your Site</a></li>
					    </ul>
				    </div>
			    </div>
			</div>
		</div><!-- Info -->
	</div>
</div>
