html,
body,
.main-body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px
}

body {
	 color: #3c3e40;
	 background: #f6f7f2;

}

hr {
	border-bottom: 1px solid #bfc5cf;
}

@media (min-width: 970px) { 

	h1 {
		font-size: 60px;
		margin-bottom: .5em;
	}	

	h2 {
		font-size: 32px;	
		font-weight: 700;
	}

	h6 {
		font-size: 18px;	
	}

	.icon-row {
		text-align: right;	
	}

	.navigation {
		margin-top: 30px;
		margin-bottom: 30px;

		.navbar-brand {
			font-size: 35px;
		}

		.navbar-nav>li>a {
			color: #2f383e;
			font-size: 20px;	
		}
	}

	.details {
		font-size: 16px;
	}


	.tutorial {
		ul {
			width: 440px;
		}
	}
}

@media (max-width: 969px) { 

	.info, .marker-list {
		text-align: center;	
	}

	h2 {
		font-size: 25px;	
	}

	h3 {
		font-size: 20px;	
		margin-top: 7px;
		margin-bottom: 7px;
	}

	.navbar {
		margin-bottom: 0px;	
	}

	.navigation {
		margin-top: 50px;
		margin-bottom: 10px;

		.navbar-brand {
			font-size: 22px;
		}

		.navbar-nav>li>a {
			color: #2f383e;
			font-size: 14px;	
		}
	}

	.details {
		font-size: 14px;
	}

	.tutorial {
		ul {
			width: 100%;
		}
	}
}

.page-intro {
	text-align: center;
}

.navigation {

	.navbar-default {
		background-color: transparent;
		border-color: transparent;
	}

	.navbar-brand, .navbar-nav>li>a {
		color: #2f383e;
	}

}


.main {
	width: 100%;
	height: 100%;

	.content {
		margin: 25px 0px;
		text-align: center;
		color: #384145;

		.lead {
			font-size: 24px;
		    width: 71%;
		}
		
		.statistics {
			display: table;
			width: 100%;
			margin-top: 2.5em;
			
			ul {
				display: table-row;	

				li {
					display: table-cell;
					text-align: center;
					border-right: 1px solid #cad2d7;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					padding: 0;
					list-style-type: none;
					position: relative;
					
					h4 {
						font-size: 60px;	
					}

					h5 {
						font-size: 44px;
					}

					h6 {
						font-size: 18px;	
					}
				}
				.last {
					border-right: none;
				}
			}
		}
	}


	.info {
		margin: 25px 0px;
	
		.info-row {
			margin: 10px 0px;
			padding: 50px 50px;

			.lead {
				font-size: 20px;	
				font-style: italic;
			}
			a {
				// color: inherit;
				text-decoration: underline;
			}

			ul {
				font-size: 16px;	
			}
		}
	}
}

.details {
	margin: 70px 0px;

	h6 {
		color: #ffc000 !important;
		font-weight: 700;
	}

	fieldset {
		margin: 30px 0px;
		padding: 1em;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #d9d6cf;
		margin-bottom: 1em;

		p {
			margin: 5px 10px 10px;
		}

		legend {
			margin: 0;
			border: 0;
			padding: 0;
			white-space: normal;
			width: initial;

			h3 {
				margin: 0;
				padding: 0 10px;
				color: #ffc000 !important;
				font-weight: 700;
			}
		}
	}

	#map-atm {
		margin: 42px 0px;
		height: 300px;
		border: 1px solid #cdcdcd;
	}

	.tutorials {
		line-height: 1.7;
		margin: 30px 0px;

		.tutor-btn {
			padding: 20px 15px;
			color: white !important;
			border-radius: 3px;
			white-space: nowrap;
			display: inline-block;
			margin: 8px 0;
			text-align: center;
			width: 260px;
			text-decoration: none;
		}
		.buy {
			background-color: #8fbc4b;
			margin-right: 8px;
		}
		.buy:hover {
			background-color: #80ab3f;	
		}
		.sell {
			background-color: #ff4546;
		}
		.sell:hover {
			background-color:  #f22;	
		}
		.import {
			background-color: #6177b0;
		}
		.import:hover {
			background-color: #5167a2;	
		}
	}
}

.countries, 
.states, 
.city {
	width: 100%;
	height: 100%;
	font-weight: 700;
}

.marker-list {
	margin: 30px auto 70px auto;
}

.tutorial {
	width: 100%;
	margin: 0 auto;
	text-align: center;

	ul {
		margin: 25px auto;
		text-align: left;
	}

	.image {
		margin: 25px 0px 35px 0px;
	}
}


// Map CSS 

.map-grid {
	height:100%;
	position: static;		
}

#map-container {
	width: 100%;
	height: 100%;
	border: 1px solid #BBB;
	position: relative;		
	margin: auto;

	#fullscreen-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 15;
		a.btn {
			padding: 4px 7px;
			margin: 0px;
			background-color: white;
			.fa {
				vertical-align: top;
				font-size: 30px;
			}
		}
	}

	#map, 
	#map_countries,
	#map_states,
	#map_city {
		height: 100%;;
		width: 100%;
	}

	#map.fullscreen,
	#map_countries.fullscreen,
	#map_states.fullscreen,
	#map_city.fullscreen {
		width: 100%;
		height: 100%;
		margin: 0;
	}
}

#map-container.fullscreen {
	width: 100%;
	height: 100%;
	margin: 0;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#address {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 30%;
}

#address:focus {
	border-color: #4d90fe;
}
