<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="utf-8">

		<title ng-bind="metadata.title">BTM Radar</title>
		<meta name="description" content="{{ metadata.description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- You can use Open Graph tags to customize link previews.
		Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
		<meta property="og:url"           content="{{ metadata.og.url }}" />
		<meta property="og:type"          content="{{ metadata.og.type }}" />
		<meta property="og:title"         content="{{ metadata.og.title }}" />
		<meta property="og:description"   content="{{ metadata.og.description }}" />
		<meta property="og:image"         content="{{ metadata.og.image }}" />

		<!-- Twitter -->
		<meta name="twitter:card" 		  value="{{ metadata.twitter.card }}">
		<meta name="twitter:site" 		  content="{{ metadata.twitter.site }}">
		<meta name="twitter:title" 		  content="{{ metadata.twitter.title }}">
		<meta name="twitter:description"  content="{{ metadata.twitter.description }}">

		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">

		<link rel="stylesheet/less" type="text/css" href="/less/style.less">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<base href="/">

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE51qn3gUybtkOpLOlWOiZvHZjlQB85tk&libraries=places"></script>
		<script src="/bower_components/js-marker-clusterer/src/markerclusterer.js"></script>
		<script src="/build/vendor.bundle.js"></script>
		<script src="/build/app.bundle.js"></script>
	</head>

	<body>
		<div app-navigation></div>
		<div ui-view class="main-body"></div>

		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/less/dist/less.min.js"></script>
		<script src="/src/js/learnBtn.js"></script>

		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57e2a51ef40bb66c"></script>
	</body>

</html>
