<div class="city" ng-controller="CityController">

	<div class="container page-intro">
		<h2>Bitcoin ATMs in {{city}}</h2>	
		<h3>Total number of Bitcoin ATMs installed in {{city}}: {{total}}</h3>
	</div>

	<div class="map-grid" ng-class="{container: !fullscreen}">
		<div id="map-container" ng-class="{fullscreen: fullscreen}">
			<div id="fullscreen-btn">
				<a class="btn" href="#" title="Full screen" style="color: #545154; ">
					<i class="fa fa-plus-square-o" ng-click="fullscreen =  true" ng-hide="fullscreen"></i>
					<i class="fa fa-minus-square-o"  ng-click="fullscreen =  false" ng-show="fullscreen"></i>
				</a>
			</div>
			<div id="map_city" ng-class="{fullscreen: fullscreen}">
			</div>
		</div>
	</div>

	<div class="container marker-list">
		<h2>List of states in {{city}} with bitcoin ATM installations:</h2>	

		<table class="table">
			<thead>
				<tr>
					<th>Location</th>
					<th>City</th>
					<th>Operator</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in ATMList" ng-click="navigate(value)" style="cursor: pointer;" >
					<td>{{value.location.location}}</td>
					<td>{{value.location.address.city}}</td>
					<td>{{value.operator.name}}</td>
					<td>{{value.atm.type}}</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
