<div class="states" ng-controller="StatesController">

	<div class="container page-intro">
		<h2>Bitcoin ATMs in {{state}}</h2>	
		<h3>Total number of Bitcoin ATMs installed in {{state}}: {{total}}</h3>
	</div>

	<div class="map-grid" ng-class="{container: !fullscreen}">
		<div id="map-container" ng-class="{fullscreen: fullscreen}">
			<div id="fullscreen-btn">
				<a class="btn" href="#" title="Full screen" style="color: #545154; ">
					<i class="fa fa-plus-square-o" ng-click="fullscreen =  true" ng-hide="fullscreen"></i>
					<i class="fa fa-minus-square-o"  ng-click="fullscreen =  false" ng-show="fullscreen"></i>
				</a>
			</div>
			<div id="map_states" ng-class="{fullscreen: fullscreen}">
			</div>
		</div>
	</div>

	<div class="container marker-list">
		<h2>List of cities in {{state}} with bitcoin ATM installations:</h2>	

		<div class="row" >
			<div ng-repeat="(key, value) in cityList">	
				<div class="col-sm-4 col-xs-12">
					<h3>
						<a ui-sref="city({city: key})" href="#">{{key}}: {{value}}</a>
					</h3>	
				</div>	
			</div>
		</div>

	</div>
</div>
