<div class="details" ng-controller="DetailsController">
	<div class="container">
		<div class="page-intro">
			<h2>Bitcoin ATM machine in {{details.location.city}} at  {{details.location.location}} – {{details.atm.type}}</h2>
		</div>
		<div class="category">

			<div class="row">
				<div class="col-md-6 col-sm-12">

					<fieldset>
						<legend>
							<h3>Operator Information</h3>
						</legend>
						<p>
						    <strong>
							    <i class="fa fa-eye"></i>
							    Operator Name:
						    </strong>
						    {{details.operator.name || "N/A"}}
						</p>
						<p>
						    <strong>
							    <i class="fa fa-phone"></i>
							    Support phone:
						    </strong>
						    {{details.operator.phone || "N/A"}}
						</p>
						<p>
						    <strong>
							    <i class="fa fa-envelope"></i>
							    Support Email:
						    </strong>
						    {{details.operator.email || "N/A"}}
						</p>
					</fieldset>

					<fieldset>
						<legend>
							<h3>Location</h3>
						</legend>
						<p>
						    <strong>
							    <i class="fa fa-map"></i>
							    City:
						    </strong>
						    {{details.location.address.city || "N/A"}}
						</p>
						<p>
						    <strong>
							    <i class="fa fa-building"></i>
							    Location:
						    </strong>
						    {{details.location.location || "N/A"}}
						</p>
						<p>
						    <strong>
							    <i class="fa fa-map-marker"></i>
							    Address:
						    </strong>
						    <br>
						    <span ng-bind-html="address"></span>
						</p>
						<p>
						    <strong>
							    <i class="fa fa-clock-o"></i>
							    Open hours:
						    </strong>
						    <br>
						    <span ng-bind-html="openHours"></span>
						</p>
					</fieldset>

					<fieldset>
						<legend>
							<h3>Machine details</h3>
						</legend>
						<p>
						    <strong>
							    <i class="fa fa-building-o"></i>
							    ATM Type:
						    </strong>
						    {{details.atm.type || "N/A"}}
						</p>
						<p>
						    <strong>
							    <i class="fa fa-exchange"></i>
							    Direction:
						    </strong>
						    {{details.atm.direction | directionAtm}}
						</p>
						<p>
						    <strong>
							    <i class="fa fa-money"></i>
							    Supported coins:
						    </strong>
						    {{details.atm.supported | supportedAtm}}
						</p>
						<p>
						    <strong>
							    <i class="fa fa-calculator"></i>
							    Fees:
						    </strong>
						    {{details.atm.fees || "N/A"}}
						</p>
						<p>
						    <strong>
							    <i class="fa fa-scissors"></i>
							    Limits:
						    </strong>
						    {{details.atm.limits || "N/A"}}
						</p>
						<p>
						    <strong>
							    <i class="fa fa-info-circle"></i>
							    Details:
						    </strong>
						    <br>
						    {{details.atm.details || "N/A"}}
						</p>
					</fieldset>
				</div>
				<div class="col-md-6 col-sm-12">

					<div id="map-atm">

					</div>
					<!-- <p><strong>Reference:</strong> https://athenabitcoin.squarespace.com/bitcoin&#45;atm&#45;atlanta&#45;ga&#45;brookhaven&#45;plaza/</p> -->
				</div>
			</div>

		</div>
	</div>
</div>
